@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(224, 245, 245);
}
/* .social-icons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  gap: 3rem;
} */
.social-icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  height: 5vh;
  /* border-radius: 90px;  */
}

.social-icons {
  display: flex;
  gap: 40px; /* Adjust the gap as needed */
}