.hero-container{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 100px;
}
.hero-container::after {
    content: "";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 29rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    top: 5%; /* Position it as needed */
    left: 5%; /* Position it as needed */
    margin: 5%; /* Adjust margin if necessary */
}
.hero-container::after{
    top: -3rem;
    left: -5rem;
}
.hero-container::before{
    bottom: 2rem;
    right: 0rem;
}
.hero-content{
    flex: 1;
}
.hero-content h2{
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}
.hero-content p{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.hero-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.hero-img > div{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.hero-img > div > img {
    width: 25rem;
    transition: all 0.3s ease;
}
 .tech-icon{
 
} 
.tech-icon img{
    width: 3rem;
    height: auto;

}
.hero-img > div > img:hover,
.tech-icon img:hover {
    transform: translateY(-0.5rem);
    
}


.hero-img > div,
.tech-icon {
    transform: translateY(-0.5rem);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80vw; /* 50% of the viewport width */
    height: 80vw; /* Height equal to the width */
    max-width: 300px; /* Optional: max-width to prevent it from becoming too large */
    max-height: 300px; /* Optional: max-height to maintain aspect ratio */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
    
}
