.projects-container {
    margin: 4rem auto; /* Center the container horizontally */
    position: relative;
    width: 90%; /* Adjust container width */
  }
  
  .projects-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #6751b9;
  }
  
  .arrow-left,
  .arrow-right {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 2rem;
    border: 1.5px solid #6751b9;
    background: #130f2a;
    position: absolute;
    top: 50%;
    z-index: 2;
    cursor: pointer;
  }
  
  .arrow-left span,
  .arrow-right span {
    font-size: 2rem;
    font-weight: 500;
  }
  
  .arrow-left {
    left: 0;
    transform: translate(-100%, -50%); /* Move the arrow to the left */
  }
  
  .arrow-right {
    right: 0;
    transform: translate(100%, -50%); /* Move the arrow to the right */
  }
  
  .projects-info {
    position: relative;
  }
  
  .project-slide {
    text-align: center; /* Center the content inside each slide */
  }
  
  .projects-info img {
    border-radius: 2rem;
    border: 2px solid #6751b9; 
    height: 28rem;
    width: 20rem;
  }
  
  @media (max-width: 768px) {
    .projects-container h5 {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  
    .arrow-left,
    .arrow-right {
      width: 1.8rem;
      height: 1.8rem;
    }
  
    .arrow-left span,
    .arrow-right span {
      font-size: 1.8rem;
    }
  
    .arrow-left {
      left: -1rem;
      transform: translate(-100%, -50%);
    }
  
    .arrow-right {
      right: -1rem;
      transform: translate(100%, -50%);
    }
  }
  